* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #0a0a0a;
}

.hero {
  background: rgb(50, 94, 94);
  background: linear-gradient(
    189deg,
    rgba(50, 94, 94, 1) 0%,
    rgba(23, 21, 80, 1) 0%,
    rgba(11, 10, 37, 1) 16%,
    rgba(4, 4, 14, 1) 100%,
    rgba(0, 0, 47, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid #ffbf86; */
  /* padding: 10%; */
}

.announcement-link {
    padding: 20px;
    background-color: rgb(23, 15, 58);
    border-radius: 40px;
    margin-top: 10%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.announcement-link:hover {
    background-color: rgb(23, 25, 58);
   
}

.announcement-text {
    font-size: 19px;
    color: white;
}

.announcement-button {
    color: white;
   background-color: rgb(65, 65, 95);
   padding: 10px;
    border-radius: 40px;
}
.announcement-button:hover {
    background-color: rgb(65, 65, 85);
}
.announcement-button svg{
    margin-top: 5px;
}


.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
}

.hero-title {
    font-size: 100px;
}

.hero-description {
    font-size: 20px;
}

.cta-button {
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    padding: 10px 20px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
display: flex;
justify-content: center;
align-items: center; 
font-size: 20px;
gap: 10px;
opacity: 0.4;
transition: 0.3s;
}

.cta-button:hover {
  opacity: 1;
    background-image: linear-gradient(to top, #6e45e2 0%, #88d3ce 100%);
    
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
